Repository zraib/panor-deploy: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, python -m black --line-length 88, python -m isort --profile black

style(components): update color scheme and improve hotspot styling
  public/data/pano-poses.csv
  src/components/FloorSelector.module.css
  src/components/Hotspot.module.css
  src/components/LoadingScreen.module.css
  src/components/MiniMap.tsx
  src/components/SceneInfo.module.css
Due: eslint --fix, prettier --write

feat(TransitionOverlay): add zoom animation effect during transitions
  package-lock.json
  package.json
  src/components/Hotspot.tsx
  src/components/TransitionOverlay.module.css
  src/components/TransitionOverlay.tsx
Due: eslint --fix, prettier --write

refactor(panorama): improve scene transitions and hotspot management
  src/components/Hotspot.tsx
  src/components/PanoramaViewer.tsx
  src/components/TransitionOverlay.tsx
Due: eslint --fix, prettier --write

perf(panorama): increase max connections limit from 6 to 20
  .gitignore
  public/data/pano-poses.csv
  scripts/generate_marzipano_config.py
Due: python -m black --line-length 88, python -m isort --profile black

feat(hotspot): improve hotspot component with 3D perspective effects
  public/assets/svg/boomerang.svg
  src/components/Hotspot.module.css
  src/components/Hotspot.tsx
  tests/Hotspot.test.tsx
Due: eslint --fix, prettier --write

feat(PanoramaViewer): add compass arrow and direction indicator
  package-lock.json
  package.json
  scripts/generate_marzipano_config.py
  src/components/Hotspot.tsx
  src/components/MiniMap.tsx
  src/components/PanoramaViewer.tsx
  src/components/SceneInfo.tsx
Due: eslint --fix, prettier --write, python -m black --line-length 88, python -m isort --profile black

feat(minimap): add interactive minimap with rotation control and improved visualization
  public/data/pano-poses.csv
  scripts/generate_marzipano_config.py
  src/components/LoadingScreen.tsx
  src/components/MiniMap.module.css
  src/components/MiniMap.tsx
  src/components/PanoramaViewer.tsx
  src/components/SceneInfo.tsx
  src/components/TransitionOverlay.module.css
  src/types/scenes.ts
Due: eslint --fix, prettier --write, python -m black --line-length 88, python -m isort --profile black

feat(panorama): add compass orientation tracking and north offset calculation
  scripts/calculate_north_offsets.py
  src/components/MiniMap.tsx
  src/components/PanoramaViewer.tsx
  src/components/SceneInfo.tsx
Due: eslint --fix, prettier --write, python -m black --line-length 88, python -m isort --profile black

refactor(components): improve code formatting and readability in MiniMap
  README.md
  package.json
  public/data/pano-poses.csv
  src/components/MiniMap.tsx
  src/components/SceneInfo.tsx
Due: eslint --fix, prettier --write

refactor(scripts): move generate-config logic to separate file
  package.json
  public/data/pano-poses.csv
  scripts/calculate_north_offsets.py
  scripts/generate-config.js
  scripts/generate_marzipano_config.py
Due: eslint --fix, prettier --write, python -m black --line-length 88, python -m isort --profile black

feat(panorama): add view direction preservation and north offset support
  src/components/PanoramaViewer.tsx
  src/types/config.ts
  src/types/marzipano.d.ts
Due: eslint --fix, prettier --write

fix(PanoramaViewer): add null check for viewer initialization and fix ripple effect target
  src/components/PanoramaViewer.tsx
Due: eslint --fix, prettier --write

feat(MiniMap): add zoom, pan and performance optimizations
  public/data/pano-poses.csv
  src/components/MiniMap.module.css
  src/components/MiniMap.tsx
Due: eslint --fix, prettier --write

fix(MiniMap): improve wheel event handling for zooming
  src/components/MiniMap.tsx
Due: eslint --fix, prettier --write

refactor(Hotspot): improve react root management and cleanup
  src/components/Hotspot.tsx
Due: eslint --fix, prettier --write

style(MiniMap): increase size and enhance direction indicator appearance
  src/components/MiniMap.module.css
Due: prettier --write

refactor(ui): improve floor selector and scene info components
  src/components/FloorSelector.module.css
  src/components/FloorSelector.tsx
  src/components/PanoramaViewer.tsx
  src/components/SceneInfo.module.css
  src/components/SceneInfo.tsx
Due: eslint --fix, prettier --write

refactor(panorama): remove transition overlay and improve scene loading
  src/components/FloorSelector.module.css
  src/components/PanoramaViewer.tsx
  src/components/SceneInfo.tsx
  src/components/TransitionOverlay.module.css
  src/components/TransitionOverlay.tsx
Due: eslint --fix, prettier --write

fix(MiniMap): correct rotation calculation by accounting for north offset
  public/data/pano-poses.csv
  src/components/MiniMap.tsx
Due: eslint --fix, prettier --write

style(MiniMap): increase flashlight width and adjust clip-path
  src/components/MiniMap.module.css
Due: prettier --write

perf(PanoramaViewer): increase resolution and FOV limits for better quality
  src/components/PanoramaViewer.tsx
Due: eslint --fix, prettier --write

perf(PanoramaViewer): improve scene transitions with delayed hotspots
  src/components/PanoramaViewer.tsx
Due: eslint --fix, prettier --write

fix(SceneInfo): display scene ID instead of name
  src/components/FloorSelector.module.css
  src/components/SceneInfo.tsx
Due: eslint --fix, prettier --write

fix(SceneInfo): remove unnecessary parseInt for scene id display
  src/components/SceneInfo.tsx
Due: eslint --fix, prettier --write

style(scripts): replace arrow symbol in print statement
  scripts/calculate_north_offsets.py
Due: python -m black --line-length 88, python -m isort --profile black

build: update @testing-library/react to v15
  package.json
Due: prettier --write

build: migrate next config to js and update dependencies
  .github/workflows/ci.yml
  next.config.js
  next.config.ts
  package-lock.json
  package.json
Due: eslint --fix, prettier --write

feat: add panorama utilities and configuration modules
  .gitignore
  src/lib/config.ts
  src/lib/marzipanoWrapper.ts
  src/lib/panoramaUtils.ts
  src/lib/sceneConfig.ts
Due: eslint --fix, prettier --write

feat(panoramaUtils): add container parameter to createRipple function
  src/lib/panoramaUtils.ts
Due: eslint --fix, prettier --write

ci(workflows): add caching for npm and Next.js builds
  .github/workflows/ci.yml
Due: prettier --write

feat(upload): add file upload functionality with api endpoint
  package-lock.json
  package.json
  public/data/pano-poses.csv
  src/pages/api/upload.ts
  src/pages/index.tsx
  src/pages/upload.tsx
Due: eslint --fix, prettier --write

feat: implement enhanced upload functionality and UI redesign
  next.config.js
  public/assets/svg/primezone-logo.svg
  public/data/pano-poses.csv
  src/components/FloorSelector.module.css
  src/components/PanoramaViewer.tsx
  src/components/SceneInfo.module.css
  src/components/SceneInfo.tsx
  src/pages/api/upload.ts
  src/pages/index.tsx
  src/pages/upload.tsx
  src/styles/Upload.module.css
Due: eslint --fix, prettier --write

feat(home): add welcome screen and loading state for panorama checks
  src/pages/index.tsx
  src/styles/Welcome.module.css
Due: eslint --fix, prettier --write

refactor(config): remove invalid API config and add debug logging
  next.config.js
  src/pages/api/upload.ts
  src/pages/index.tsx
Due: eslint --fix, prettier --write

refactor(pages): simplify panorama check logic and remove loading state
  src/pages/index.tsx
Due: eslint --fix, prettier --write

chore: remove outdated pano-poses.csv file
  public/data/pano-poses.csv
Due: none

chore: update gitignore to include public/data directory
  .gitignore
Due: none

refactor(generate_marzipano_config): simplify panorama config generation logic
  public/data/pano-poses.csv
  scripts/generate_marzipano_config.py
Due: python -m black --line-length 88, python -m isort --profile black

feat(upload): add file persistence and duplicate handling
  package-lock.json
  package.json
  src/pages/api/check-files.ts
  src/pages/api/clear-data.ts
  src/pages/upload.tsx
  src/styles/Upload.module.css
Due: eslint --fix, prettier --write

style: simplify UI styles and improve consistency
  src/pages/index.tsx
  src/styles/Upload.module.css
  src/styles/Welcome.module.css
Due: eslint --fix, prettier --write

Path conditions:
  eslint --fix: any of: *.{js,jsx,ts,tsx}
  prettier --write: (((any of: *.{js,jsx,ts,tsx}) or (any of: *.{json,md,yml,yaml})) or (any of: package.json)) or (any of: *.{css,scss,sass})
  python -m black --line-length 88: any of: *.py
  python -m isort --profile black: any of: *.py
