Repository zraib/panor-deploy: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, python -m black --line-length 88, python -m isort --profile black

.lintstagedrc.json:

{
  "*.{js,jsx,ts,tsx}": [
    "eslint --fix",
    "prettier --write"
  ],
  "*.{json,md,yml,yaml}": [
    "prettier --write"
  ],
  "*.py": [
    "python -m black --line-length 88",
    "python -m isort --profile black"
  ],
  "package.json": [
    "prettier --write"
  ],
  "*.{css,scss,sass}": [
    "prettier --write"
  ]
}

feat(ui): improve panels styling and add custom scrollbars
  src/components/ui/ControlPanel.module.css
  src/components/ui/panels/POIManagementPanel.tsx
  src/components/ui/panels/ProjectsPanel.tsx
Due: eslint --fix, prettier --write

feat(poi): add support for additional image formats in POI icon
  src/components/poi/POIComponent.tsx
Due: eslint --fix, prettier --write

feat(poi-management): add poi management page and related components
  src/components/ui/panels/POIManagementPanel.tsx
  src/pages/index.tsx
  src/pages/poi-management.tsx
  src/pages/upload.tsx
  src/styles/Welcome.module.css
Due: eslint --fix, prettier --write

Refactor PDF viewer to iframe-based solution and fix security vulnerabilities
  next.config.js
  package-lock.json
  public/sample.pdf
  src/components/poi/POIPreview.module.css
  src/components/poi/POIPreview.tsx
  src/pages/api/files/[...path].ts
Due: eslint --fix, prettier --write

feat: enhance iframe support with HTML entity decoding and YouTube compatibility
  src/components/poi/POIModal.module.css
  src/components/poi/POIModal.tsx
  src/components/poi/POIPreview.module.css
  src/components/poi/POIPreview.tsx
Due: eslint --fix, prettier --write

refactor(scripts): migrate panorama config generation from Python to Node.js
  scripts/node/README.md
  scripts/node/calculate-north-offsets.js
  scripts/node/cleanup-temp.js
  scripts/node/generate-config.js
  scripts/node/generate-marzipano-config.js
  scripts/python/__tests__/generate_config.test.py
  scripts/python/calculate_north_offsets.py
  scripts/python/generate_marzipano_config.py
Due: eslint --fix, prettier --write, python -m black --line-length 88, python -m isort --profile black

feat(poi): implement individual POI file management system
  package-lock.json
  package.json
  src/components/poi/POIFileManager.tsx
  src/components/poi/__tests__/POIComponent.test.tsx
  src/pages/api/poi/delete.ts
  src/pages/api/poi/export-all.ts
  src/pages/api/poi/export-single.ts
  src/pages/api/poi/import-single.ts
  src/pages/api/poi/load-individual.ts
  src/pages/api/poi/save-individual.ts
  src/pages/api/poi/save.ts
  src/pages/api/poi/update.ts
  src/pages/poi-management.tsx
  src/pages/upload.tsx
  src/styles/Upload.module.css
Due: eslint --fix, prettier --write

feat(hotspot): add zoom compensation to hotspot positioning
  src/components/hotspot/Hotspot.module.css
  src/components/hotspot/Hotspot.tsx
  src/components/viewer/HotspotRenderer.tsx
  src/components/viewer/PanoramaViewer.tsx
Due: eslint --fix, prettier --write

refactor(ui): replace native confirm dialogs with modal components
  src/components/poi/POIFileManager.tsx
  src/components/ui/ConfirmationModal.tsx
  src/components/ui/panels/ProjectsPanel.tsx
  src/hooks/useProjectsManager.ts
  src/pages/poi-management.tsx
Due: eslint --fix, prettier --write

chore: remove sample.pdf from public directory
  public/sample.pdf
Due: none

feat(theme): implement dark/light theme toggle and update UI components
  public/cityscape.jpg
  public/logo.svg
  src/components/hotspot/Hotspot.module.css
  src/components/poi/POIComponent.module.css
  src/components/poi/POIComponent.tsx
  src/components/poi/POIContextMenu.module.css
  src/components/poi/POIModal.module.css
  src/components/poi/POIPreview.module.css
  src/components/ui/ConfirmationModal.module.css
  src/components/ui/ControlPanel.module.css
  src/components/ui/Navigation.module.css
  src/components/ui/Navigation.tsx
  src/components/ui/ThemeToggle.module.css
  src/components/ui/ThemeToggle.tsx
  src/components/ui/icons/ControlPanelIcons.tsx
  src/components/ui/panels/FloorSelectorPanel.tsx
  src/components/ui/panels/POIManagementPanel.module.css
  src/components/ui/panels/POIManagementPanel.tsx
  src/components/ui/panels/PerformanceMonitorPanel.tsx
  src/components/ui/panels/ProjectsPanel.module.css
  src/components/ui/panels/ProjectsPanel.tsx
  src/components/utility/LoadingScreen.module.css
  src/components/viewer/MiniMap.module.css
  src/components/viewer/PanoramaContainer.tsx
  src/components/viewer/PanoramaViewer.tsx
  src/components/viewer/TapHint.tsx
  src/pages/_app.tsx
  src/pages/index.tsx
  src/pages/poi-management.tsx
  src/pages/upload.tsx
  src/styles/POIManagement.module.css
  src/styles/Upload.module.css
  src/styles/Welcome.module.css
  src/styles/globals.css
Due: eslint --fix, prettier --write

chore: update package-lock.json with new dependencies
  package-lock.json
Due: prettier --write

feat(hotspot): add distance dampening to zoom compensation
  src/components/hotspot/Hotspot.tsx
Due: eslint --fix, prettier --write

fix: adjust default FOV to 65 degrees for better viewing experience
  scripts/node/generate-marzipano-config.js
Due: eslint --fix, prettier --write

refactor(ui): update navigation and theme toggle styles
  public/logo.svg
  src/components/hotspot/Hotspot.module.css
  src/components/ui/ControlPanel.module.css
  src/components/ui/Navigation.module.css
  src/components/ui/Navigation.tsx
  src/components/ui/ThemeToggle.module.css
  src/components/ui/ThemeToggle.tsx
  src/components/viewer/MiniMap.module.css
  src/components/viewer/MiniMap.tsx
  src/components/viewer/PanoramaLogo.tsx
  src/components/viewer/PanoramaViewer.tsx
  src/components/viewer/TapHint.tsx
  src/pages/[projectId]/[sceneId].tsx
  src/pages/[projectId]/index.tsx
  src/pages/_app.tsx
  src/pages/index.tsx
  src/pages/poi-management.tsx
  src/pages/upload.tsx
Due: eslint --fix, prettier --write

feat: add project metadata and style improvements
  src/components/poi/POIPreview.module.css
  src/components/poi/POIPreview.tsx
  src/components/ui/panels/POIManagementPanel.tsx
  src/components/ui/panels/ProjectsPanel.tsx
  src/components/viewer/MiniMap.tsx
  src/components/viewer/PanoramaViewer.tsx
  src/hooks/useProjectsManager.ts
  src/pages/api/projects.ts
  src/pages/index.tsx
  src/pages/poi-management.tsx
  src/pages/upload.tsx
  src/styles/MiniMap.module.css
  src/styles/POIManagement.module.css
  src/styles/POIManagementPanel.module.css
  src/styles/ProjectsPanel.module.css
  src/styles/Upload.module.css
  src/styles/Welcome.module.css
  src/styles/globals.css
Due: eslint --fix, prettier --write

feat(ui): add reusable Logo component and update imports
  src/components/ui/Logo.module.css
  src/components/ui/Logo.tsx
  src/components/ui/index.ts
  src/components/viewer/PanoramaLogo.tsx
  src/pages/[projectId]/[sceneId].tsx
  src/pages/[projectId]/index.tsx
  src/pages/_document.tsx
  src/pages/index.tsx
  src/pages/poi-management.tsx
  src/pages/upload.tsx
Due: eslint --fix, prettier --write

chore: add space images and update gitignore rules
  .gitignore
  public/assets/images/everaldo-coelho-2tigIl6Tt7E-unsplash.jpg
  public/assets/images/nasa-Q1p7bh3SHj8-unsplash.jpg
Due: none

feat: Add AWS deployment configuration and S3 upload functionality
  .env.example
  AWS_AMPLIFY_DEPLOYMENT_GUIDE.md
  amplify.yml
  next.config.js
  package-lock.json
  package.json
  src/components/ui/S3Upload.tsx
  src/components/upload/S3UploadManager.module.css
  src/components/upload/S3UploadManager.tsx
  src/lib/aws-s3.ts
  src/lib/aws/aws-s3.ts
  src/pages/api/generate-config.ts
  src/pages/api/s3-batch-upload.ts
  src/pages/api/s3-upload.ts
  tsconfig.json
Due: eslint --fix, prettier --write

Fix: Update environment variable names to avoid AWS prefix restriction
  .env.example
  AWS_AMPLIFY_DEPLOYMENT_GUIDE.md
  src/lib/aws-s3.ts
  src/lib/aws/aws-s3.ts
Due: eslint --fix, prettier --write

Fix: Resolve test:config script failure in AWS Amplify build
  package.json
Due: prettier --write

Fix: Resolve test failures in AWS Amplify build - Update getConfigStatus return type and fix POI component tests
  jest.setup.js
  src/components/poi/__tests__/POIComponent.test.tsx
  src/lib/config.ts
Due: eslint --fix, prettier --write

Fix: Update amplify.yml to use test:coverage for proper coverage artifact generation
  amplify.yml
Due: prettier --write

Fix: Remove Python dependencies from amplify.yml - use Node.js modules only
  amplify.yml
Due: prettier --write

Fix diagnostics API: Remove Python/NumPy checks, use Node.js only
  src/pages/api/diagnostics.ts
Due: eslint --fix, prettier --write

Add environment configuration and upload issue resolution guide
  .env
  UPLOAD_ISSUE_RESOLUTION.md
Due: prettier --write

Fix projects API for serverless environment - migrate from local file system to S3 storage
  src/pages/api/projects.ts
Due: eslint --fix, prettier --write

Add serverless compatibility fix documentation
  SERVERLESS_COMPATIBILITY_FIX.md
Due: prettier --write

Fix AWS Amplify 500 error - configure environment variables in build process
  AMPLIFY_500_ERROR_TROUBLESHOOTING.md
  amplify.yml
Due: prettier --write

Add critical AWS Amplify environment variables setup guide
  CRITICAL_AMPLIFY_SETUP_REQUIRED.md
Due: prettier --write

Add AWS Amplify compute role setup guide for S3 access permissions
  AWS_AMPLIFY_COMPUTE_ROLE_SETUP.md
Due: prettier --write

Update S3 client to use IAM compute role instead of hardcoded credentials
  src/lib/aws-s3.ts
Due: eslint --fix, prettier --write

Fix AWS Amplify Compute role navigation path - correct location is App settings IAM roles
  AWS_AMPLIFY_COMPUTE_ROLE_SETUP.md
  CRITICAL_AMPLIFY_SETUP_REQUIRED.md
Due: prettier --write

feat: Add S3 upload support with conditional routing
  scripts/node/generate-config-s3.js
  src/pages/api/projects/[projectId]/upload.ts
Due: eslint --fix, prettier --write

fix: Correct S3 folder structure mapping
  src/lib/aws-s3.ts
Due: eslint --fix, prettier --write

fix: Resolve TypeScript type mismatch in upload.ts
  src/pages/api/projects/[projectId]/upload.ts
Due: eslint --fix, prettier --write

fix: Resolve 408 timeout errors with comprehensive timeout handling
  src/lib/aws-s3.ts
  src/pages/api/projects/[projectId]/upload.ts
  src/pages/upload.tsx
Due: eslint --fix, prettier --write

fix: Resolve S3 configuration issue causing upload failures
  S3_CONFIGURATION_GUIDE.md
  scripts/node/generate-config-s3.js
  src/pages/api/projects/[projectId]/upload.ts
Due: eslint --fix, prettier --write
