Repository zraib/panor-deploy: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, python -m black --line-length 88, python -m isort --profile black

feat(marzipano): enhance floor handling and camera positioning
  scripts/generate_marzipano_config.py
Due: python -m black --line-length 88, python -m isort --profile black

chore: remove outdated pano-poses.csv file
  public/data/pano-poses.csv
Due: none

style(theme): update color scheme to dark theme by default
  src/styles/Upload.module.css
  src/styles/Welcome.module.css
  src/styles/globals.css
Due: prettier --write

perf: increase number of nearest targets from 10 to 20
  scripts/generate_marzipano_config.py
Due: python -m black --line-length 88, python -m isort --profile black

feat(upload): add temp file cleanup script and integration
  README.md
  package.json
  scripts/cleanup-temp.js
  src/pages/api/upload.ts
Due: eslint --fix, prettier --write

feat(performance): add adaptive loading and performance monitoring
  README.md
  docs/TROUBLESHOOTING.md
  src/components/LoadingScreen.module.css
  src/components/LoadingScreen.tsx
  src/components/PanoramaViewer.tsx
  src/components/PerformanceMonitor.module.css
  src/components/PerformanceMonitor.tsx
  src/lib/panoramaUtils.ts
Due: eslint --fix, prettier --write

refactor(ui): consolidate control components into unified panel
  src/components/ControlPanel.module.css
  src/components/ControlPanel.tsx
  src/components/FloorSelector.module.css
  src/components/FloorSelector.tsx
  src/components/PanoramaViewer.tsx
  src/components/PerformanceMonitor.module.css
  src/components/PerformanceMonitor.tsx
  src/components/uploadfiles.module.css
  src/components/uploadfiles.tsx
  src/pages/index.tsx
Due: eslint --fix, prettier --write

feat(minimap): add zoom-based hotspot filtering and counter
  README.md
  src/components/MiniMap.module.css
  src/components/MiniMap.tsx
  src/components/uploadfiles.tsx
Due: eslint --fix, prettier --write

feat(projects): implement multi-project support with project-specific APIs
  .gitignore
  package.json
  scripts/calculate_north_offsets.py
  scripts/generate-config.js
  scripts/generate_marzipano_config.py
  src/components/ControlPanel.tsx
  src/components/PanoramaViewer.tsx
  src/components/ProjectManager.module.css
  src/components/ProjectManager.tsx
  src/lib/config.ts
  src/lib/marzipanoWrapper.ts
  src/pages/[projectId]/[sceneId].tsx
  src/pages/[projectId]/index.tsx
  src/pages/api/check-files.ts
  src/pages/api/clear-data.ts
  src/pages/api/projects.ts
  src/pages/api/projects/[projectId]/config.ts
  src/pages/api/projects/[projectId]/files.ts
  src/pages/api/projects/[projectId]/upload.ts
  src/pages/index.tsx
  src/pages/upload.tsx
  src/styles/Upload.module.css
  src/styles/Welcome.module.css
Due: eslint --fix, prettier --write, python -m black --line-length 88, python -m isort --profile black

feat(ui): enhance project management and navigation experience
  src/components/PanoramaViewer.tsx
  src/components/ProjectManager.module.css
  src/components/ProjectManager.tsx
  src/pages/index.tsx
  src/pages/upload.tsx
  src/styles/Welcome.module.css
Due: eslint --fix, prettier --write

refactor(scripts): increase target limit and remove default config paths
  scripts/calculate_north_offsets.py
  scripts/generate_marzipano_config.py
Due: python -m black --line-length 88, python -m isort --profile black

refactor(generate_marzipano_config): simplify id extraction from filename
  scripts/generate_marzipano_config.py
Due: python -m black --line-length 88, python -m isort --profile black

feat(scenes): add initialYaw field for absolute orientation
  scripts/generate_marzipano_config.py
  src/components/MiniMap.tsx
  src/types/scenes.ts
Due: eslint --fix, prettier --write, python -m black --line-length 88, python -m isort --profile black

feat(flashlight): add coordinate system fix for beam orientation
  docs/FLASHLIGHT_BEAM_FIX.md
Due: prettier --write

build: add ts-prune dependency for dead code detection
  package-lock.json
  package.json
Due: prettier --write

refactor(components): reorganize components into feature-based directories
  src/components/hotspot/Hotspot.module.css
  src/components/hotspot/Hotspot.tsx
  src/components/management/ProjectManager.module.css
  src/components/management/ProjectManager.tsx
  src/components/management/Uploadfiles.module.css
  src/components/management/Uploadfiles.tsx
  src/components/navigation/FloorSelector.module.css
  src/components/navigation/FloorSelector.tsx
  src/components/ui/ControlPanel.module.css
  src/components/ui/ControlPanel.tsx
  src/components/utility/LoadingScreen.module.css
  src/components/utility/LoadingScreen.tsx
  src/components/utility/PerformanceMonitor.module.css
  src/components/utility/PerformanceMonitor.tsx
  src/components/viewer/MiniMap.module.css
  src/components/viewer/MiniMap.tsx
  src/components/viewer/PanoramaViewer.tsx
  src/pages/[projectId]/[sceneId].tsx
  src/pages/[projectId]/index.tsx
  src/pages/index.tsx
Due: eslint --fix, prettier --write

refactor: reorganize project structure and migrate scripts to TypeScript
  package.json
  scripts/node/cleanup-temp.ts
  scripts/node/generate-config.ts
  scripts/python/__tests__/generate_config.test.py
  scripts/python/calculate_north_offsets.py
  scripts/python/generate_marzipano_config.py
  src/components/hotspot/__tests__/Hotspot.test.tsx
  src/components/management/ProjectManager.tsx
  src/components/management/Uploadfiles.tsx
  src/components/navigation/FloorSelector.module.css
  src/components/navigation/FloorSelector.tsx
  src/components/ui/ControlPanel.tsx
  src/components/utility/LoadingScreen.tsx
  src/components/utility/PerformanceMonitor.tsx
  src/components/viewer/MiniMap.tsx
  src/components/viewer/PanoramaViewer.tsx
  src/lib/__tests__/config.test.ts
  src/lib/config.ts
  src/utils/panoramaUtils.ts
Due: eslint --fix, prettier --write, python -m black --line-length 88, python -m isort --profile black

feat: add panorama viewer hooks and context with performance improvements
  IMPROVEMENTS.md
  scripts/node/generate-config.js
  src/components/management/ProjectManager.module.css
  src/components/management/ProjectManager.tsx
  src/components/navigation/FloorSelector.module.css
  src/components/navigation/FloorSelector.tsx
  src/components/ui/ControlPanel.tsx
  src/components/utility/PerformanceMonitor.module.css
  src/components/utility/PerformanceMonitor.tsx
  src/components/viewer/PanoramaViewer.tsx
  src/contexts/PanoramaContext.tsx
  src/hooks/useHotspotManager.ts
  src/hooks/useNavigation.ts
  src/hooks/usePanoramaViewer.ts
  src/hooks/usePerformanceManager.ts
  src/hooks/useSceneManager.ts
  src/hooks/useViewerEvents.ts
  src/pages/index.tsx
  src/utils/testingUtils.ts
Due: eslint --fix, prettier --write

feat(viewer): add new components and refactor panorama viewer
  src/components/hotspot/Hotspot.tsx
  src/components/viewer/ControlsHint.tsx
  src/components/viewer/HotspotRenderer.tsx
  src/components/viewer/MiniMap.tsx
  src/components/viewer/PanoramaContainer.tsx
  src/components/viewer/PanoramaLogo.tsx
  src/components/viewer/PanoramaViewer.tsx
  src/components/viewer/TapHint.tsx
  src/contexts/PanoramaContext.tsx
  src/hooks/usePanoramaManager.ts
  src/hooks/useSceneManager.ts
  src/utils/panoramaUtils.ts
Due: eslint --fix, prettier --write

refactor(viewer): replace div-based connection lines with svg in minimap
  src/components/viewer/MiniMap.tsx
Due: eslint --fix, prettier --write

refactor(ui): modularize control panel into components and hooks
  src/components/management/Uploadfiles.module.css
  src/components/management/Uploadfiles.tsx
  src/components/ui/ControlButton.tsx
  src/components/ui/ControlPanel.tsx
  src/components/ui/README.md
  src/components/ui/icons/ControlPanelIcons.tsx
  src/components/ui/icons/index.ts
  src/components/ui/panels/FloorSelectorPanel.tsx
  src/components/ui/panels/PerformanceMonitorPanel.tsx
  src/components/ui/panels/ProjectsPanel.tsx
  src/components/ui/panels/index.ts
  src/hooks/useFloorSelector.ts
  src/hooks/usePanelState.ts
  src/hooks/usePerformanceMonitor.ts
  src/hooks/useProjectsManager.ts
Due: eslint --fix, prettier --write

feat(panorama): add view tracking to preserve view direction
  src/hooks/usePanoramaManager.ts
Due: eslint --fix, prettier --write

feat(panels): add panel pinning and click-to-close functionality
  src/components/ui/ControlPanel.tsx
  src/components/viewer/MiniMap.module.css
  src/components/viewer/PanoramaViewer.tsx
  src/hooks/usePanelState.ts
  src/hooks/usePanoramaManager.ts
  src/hooks/useSceneManager.ts
  src/hooks/useViewerEvents.ts
Due: eslint --fix, prettier --write

feat(viewer): improve navigation handling and UI feedback
  src/components/viewer/MiniMap.module.css
  src/components/viewer/MiniMap.tsx
  src/hooks/usePanoramaManager.ts
  src/hooks/useSceneManager.ts
  src/types/marzipano.d.ts
Due: eslint --fix, prettier --write

refactor(scripts): update python script paths and cleanup implementation
  package.json
  scripts/node/cleanup-temp.js
  scripts/node/generate-config.js
  scripts/node/generate-config.ts
  src/hooks/usePerformanceMonitor.ts
Due: eslint --fix, prettier --write

feat(upload): enhance error handling and add diagnostics for upload system
  UPLOAD_ERROR_FIXES.md
  UPLOAD_TROUBLESHOOTING.md
  UPLOAD_UX_ENHANCEMENTS.md
  src/pages/api/diagnostics.ts
  src/pages/api/projects/[projectId]/upload.ts
  src/pages/upload.tsx
  src/styles/Upload.module.css
Due: eslint --fix, prettier --write

fix: resolve panorama viewer initialization and navigation issues
  src/components/ui/panels/ProjectsPanel.tsx
  src/components/viewer/MiniMap.tsx
  src/components/viewer/PanoramaViewer.tsx
  src/hooks/usePanoramaViewer.ts
Due: eslint --fix, prettier --write

feat(poi): implement point of interest system with right-click creation
  POI_IMPLEMENTATION_GUIDE.md
  README.md
  package-lock.json
  package.json
  src/components/poi/POIComponent.tsx
  src/components/poi/POIContextMenu.tsx
  src/components/poi/POIModal.tsx
  src/components/poi/POIPreview.tsx
  src/components/poi/README.md
  src/components/poi/__tests__/POIComponent.test.tsx
  src/components/poi/utils.ts
  src/components/viewer/PanoramaViewer.tsx
  src/pages/api/poi/load.ts
  src/pages/api/poi/save.ts
  src/pages/api/poi/upload.ts
  src/types/poi.ts
Due: eslint --fix, prettier --write

feat(upload): add delete all and upload option for projects
  src/pages/api/projects/[projectId]/upload.ts
  src/pages/upload.tsx
Due: eslint --fix, prettier --write

Fix navigation issues for edit project and project switching
  src/components/ui/panels/ProjectsPanel.tsx
  src/hooks/useProjectsManager.ts
Due: eslint --fix, prettier --write

feat(poi): improve poi positioning and implement marzipano hotspots
  src/components/poi/POIComponent.tsx
  src/components/poi/utils.ts
Due: eslint --fix, prettier --write

feat(poi): enhance poi markers with dynamic icons and styling
  src/components/poi/POIComponent.tsx
Due: eslint --fix, prettier --write

Fix POI height positioning, enhance debugging system, and improve panorama display
  package-lock.json
  package.json
  src/components/poi/POIComponent.tsx
  src/components/poi/POIModal.tsx
  src/components/poi/POIPreview.tsx
  src/components/poi/utils.ts
  src/hooks/useViewerEvents.ts
  src/pages/api/poi/save.ts
  src/pages/api/poi/upload.ts
Due: eslint --fix, prettier --write

Add POI edit and delete functionality
  src/components/poi/POIComponent.tsx
  src/components/poi/POIModal.tsx
  src/components/poi/POIPreview.tsx
  src/pages/api/poi/delete.ts
  src/pages/api/poi/update.ts
  src/types/poi.ts
Due: eslint --fix, prettier --write

fix: resolve TypeScript 'error is of type unknown' issue in POIComponent
  src/components/poi/POIComponent.tsx
  src/components/poi/POIModal.tsx
Due: eslint --fix, prettier --write

feat(poi): enhance UI with modern styling and improve component structure
  src/components/poi/POIComponent.module.css
  src/components/poi/POIComponent.tsx
  src/components/poi/POIContextMenu.module.css
  src/components/poi/POIContextMenu.tsx
  src/components/poi/POIModal.module.css
  src/components/poi/POIModal.tsx
  src/components/poi/POIPreview.module.css
  src/components/poi/POIPreview.tsx
  src/components/ui/ConfirmationModal.module.css
  src/components/ui/ConfirmationModal.tsx
  src/components/viewer/ControlsHint.tsx
  src/components/viewer/PanoramaViewer.tsx
  src/components/viewer/TapHint.tsx
Due: eslint --fix, prettier --write

feat(hotspots): add POI indicator glow to hotspots with POIs
  src/components/hotspot/Hotspot.module.css
  src/components/hotspot/Hotspot.tsx
  src/components/viewer/HotspotRenderer.tsx
  src/components/viewer/PanoramaViewer.tsx
  src/pages/api/poi/scene-counts.ts
Due: eslint --fix, prettier --write

feat(viewer): add POI pulse animation to MiniMap hotspots
  src/components/ui/ControlPanel.module.css
  src/components/viewer/MiniMap.module.css
  src/components/viewer/MiniMap.tsx
  src/components/viewer/PanoramaViewer.tsx
Due: eslint --fix, prettier --write

feat(poi): add poi management panel with icon and functionality
  src/components/ui/ControlPanel.tsx
  src/components/ui/icons/ControlPanelIcons.tsx
  src/components/ui/icons/index.ts
  src/components/ui/panels/POIManagementPanel.tsx
  src/components/ui/panels/index.ts
  src/components/viewer/PanoramaViewer.tsx
Due: eslint --fix, prettier --write

feat(poi): enhance POI management with search and navigation
  src/components/poi/POIComponent.tsx
  src/components/ui/ControlPanel.tsx
  src/components/ui/icons/ControlPanelIcons.tsx
  src/components/ui/panels/POIManagementPanel.tsx
  src/components/ui/panels/index.ts
  src/components/viewer/PanoramaViewer.tsx
Due: eslint --fix, prettier --write

Path conditions:
  eslint --fix: any of: *.{js,jsx,ts,tsx}
  prettier --write: (((any of: *.{js,jsx,ts,tsx}) or (any of: *.{json,md,yml,yaml})) or (any of: package.json)) or (any of: *.{css,scss,sass})
  python -m black --line-length 88: any of: *.py
  python -m isort --profile black: any of: *.py
